<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Sign up now</h2>
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <!-- user name -->
                        <div class="form-outline mb-4">
                            <input  formControlName="uname" type="text" id="uname" name="name" class="form-control" />
                            <label class="form-label" for="form3Example3">User Name</label>
                        </div>
                        <div *ngIf="(this.registerForm.get('uname')?.errors)&&(this.registerForm.get('uname')?.touched)">
                            <p class="text-dark">First letter must be capital and contain charecters only</p>
                        </div>

                        <!-- Number input -->
                        <div class="form-outline mb-4">
                            <input formControlName="unum" type="text" id="number" name="num" class="form-control" />
                            <label class="form-label" for="form3Example3">Number</label>
                        </div>
                        <div *ngIf="(this.registerForm.get('unum')?.errors)&&(this.registerForm.get('unum')?.touched)">
                            <p class="text-dark">Enter your number</p>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input formControlName="psw" type="password" id="password" name="psw" class="form-control" />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>
                        <div *ngIf="(this.registerForm.get('upsw')?.errors)&&(this.registerForm.get('upsw')?.touched)">
                            <p class="text-dark">password must charecters or numbers</p>
                        </div>

                        <!-- conform password -->
                        <div class="form-outline mb-4">
                            <input formControlName="cpsw" type="password" id="form3Example4" name="cpsw" class="form-control" />
                            <label class="form-label" for="form3Example4">confirm Password</label>
                        </div>
                        <div *ngIf="pswCheck">
                            <p class="text-danger">password doesnt match</p>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Sign up
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->